ColegioColombia.Cliente/Connected Services/ServicioBienvenida/ServicioBienvenida.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicioBienvenida" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:56470/ServicioBienvenida.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:56470/ServicioBienvenida.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:56470/ServicioBienvenida.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ColegioColombia.Wcf.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicioBienvenida_SaludoPersonalizado_InputMessage">
    <wsdl:part name="parameters" element="tns:SaludoPersonalizado" />
  </wsdl:message>
  <wsdl:message name="IServicioBienvenida_SaludoPersonalizado_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaludoPersonalizadoResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioBienvenida_ConsultarAlumno_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarAlumno" />
  </wsdl:message>
  <wsdl:message name="IServicioBienvenida_ConsultarAlumno_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarAlumnoResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicioBienvenida">
    <wsdl:operation name="SaludoPersonalizado">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioBienvenida/SaludoPersonalizado" message="tns:IServicioBienvenida_SaludoPersonalizado_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioBienvenida/SaludoPersonalizadoResponse" message="tns:IServicioBienvenida_SaludoPersonalizado_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarAlumno">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioBienvenida/ConsultarAlumno" message="tns:IServicioBienvenida_ConsultarAlumno_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioBienvenida/ConsultarAlumnoResponse" message="tns:IServicioBienvenida_ConsultarAlumno_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServicioBienvenida" type="tns:IServicioBienvenida">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SaludoPersonalizado">
      <soap:operation soapAction="http://tempuri.org/IServicioBienvenida/SaludoPersonalizado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarAlumno">
      <soap:operation soapAction="http://tempuri.org/IServicioBienvenida/ConsultarAlumno" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioBienvenida">
    <wsdl:port name="BasicHttpBinding_IServicioBienvenida" binding="tns:BasicHttpBinding_IServicioBienvenida">
      <soap:address location="http://localhost:56470/ServicioBienvenida.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>