ColegioColombia.Cliente/Connected Services/ServicioBienvenida/ServicioBienvenida1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56470/ServicioBienvenida.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ColegioColombia.Wcf.Models" />
  <xs:element name="SaludoPersonalizado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaludoPersonalizadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaludoPersonalizadoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarAlumno">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarAlumnoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ColegioColombia.Wcf.Models" minOccurs="0" name="ConsultarAlumnoResult" nillable="true" type="q1:Alumno" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>